{{ form_start(form) }}

    <div class="mb-3 row">
        {{ form_label(form.name, '', { 'label_attr': { 'class': 'col-sm-2' } }) }}
        <div class="col-sm-4">
            {{ form_widget(form.name, { 'attr': { 'class': 'form-control'}}) }}
            <div class="form-error text-danger">
                {{ form_errors(form.name) }}
            </div>
        </div>
    </div>

    <div class="text-end">
        <a class="btn btn-secondary" href="{{ path('role_index') }}">Cancel</a>
        <button class="btn btn-secondary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
